@font-face {
    font-family: "Crimson Text";
    src: url("./Crimson_Text/CrimsonText-Roman.ttf");
}
@font-face {
    font-family: Lora;
    src: url("./Lora/Lora-Regular.ttf");
}

* {
    font-family: "Crimson Text";
    text-align: justify;
    font-size: 1.1em;
}

h1, h2 {
    font-family: Lora;
    font-variant: small-caps;
}

h1 {
    font-size: 3em;
    color: white;
 }
h2 { font-size: 1.2em; }

body {
    margin: 0;
    padding-bottom: 2em;
}

#title {
    width: 10em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#titlebox {
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #333333;
    box-shadow: 0px 3px 5px #aaaaaa;
}

#content {
    width: 35em;
    margin-left: auto;
    margin-right: auto;
}

p {
    padding-left: 1.5em;
    hyphens: auto;
    -moz-hyphens: auto;
}

a {
    color: FireBrick;
}

a:visited {
    color: RosyBrown;
}
